/* Kaitlin Lockhart
   Styling for Spotify page*/

/* Bootstrap and font imports */
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);

body {
  background-color: black;
}

.fb-share-button {
  padding-bottom: 2%;
}

#header {
  background-image: url("spotify-small.jpg");
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

h1, p {
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

.modal-body img {
  height: 350px;
}

#share p {
  color: black;
}

#shareButton {
  margin-top: 2%;
  float: right;
}

#songInfo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  #header {
    background-image: url("spotify.jpg");
  }

  h1 {
    font-size: 75px;
  }
}